@charset "UTF-8";

body {
    margin: auto;
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333; 
    color: #fff; 
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #5BBCFF; 
    color: #fff;
    cursor: pointer; 
}

button:hover {
    background-color: #4ca6e5;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

footer > div > ul {
	list-style: none;
}
