@charset "UTF-8";

body {
	display: grid;
	grid-template-rows: 120px auto 200px;
	min-height: 100vh;
}

body > header {
	border-radius: 30px;
	background-color: #5BBCFF;
}

body > header > div#top {
    display: grid;
    grid-template-areas: "h1 nav ul";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

body > header > div#top > h1 {
	grid-area: h1;
}

body > header > div#top > h1 > a {
	color: black;
	text-decoration: none;
}

body > header > div#top > h1 > a:hover {
	color: #FFFAB7;
}

body > header > div#top > nav {
	grid-area: nav;
	display: flex;
	align-items: center;
}

body > header > div#top > nav > ul {
	display: flex;
	gap: 50px;
	list-style: none;
}

body > header > div#top > nav > ul > li > a {
	color: black;
	text-decoration: none;	
}

body > header > div#top > nav > ul > li > a:hover {
	color: #FFFAB7;
}

body > header > div#top > ul {
	grid-area: ul;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 50px;
	list-style: none;
}

body > header > div#top > ul > li > a {
	color: black;
	text-decoration: none;	
}

body > header > div#top > ul > li > a:hover {
	color: #FFFAB7;
}

body > footer {
	background-color: #FFFAB7;
}

